
.background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    height: 100dvh;
    margin: 0;
    background: linear-gradient(-45deg, #0c0c0c, #181818, #0e0e0e, #000);
    background-size: 400% 400%;
    animation: bg 15s ease infinite;
    z-index: -1;
}

@keyframes bg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}